@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.hero-image{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
    url("./images/coffee-image.jpg") center no-repeat;
    background-size: cover;
    height: 800px;
    text-align: center;
}

.hero-image-2{
    position: absolute;
    top: 80%;
    left: 50%;
    background : url("./images/coffee-cup.png") center no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;

}

.title h1{
    color: rgb(250, 247, 241);
    font-weight: bold;
    position: absolute;
    font-family: 'Acme', sans-serif;
    top: 40%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.title p{
    position: absolute;
    color: rgb(250, 247, 241);
    font-family: 'Acme', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.hero-image-2 img{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 1150px) {
    .title h1{
        font-size: 5vw;
    }
    .title p{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 800px) {
    .title h1{
        font-size: 2rem;
    }
    .title p{
        font-size: 1rem;
    }
    .hero-image-2{
        position: absolute;
        top: 80%;
        left: 50%;
        background:
        url("./images/coffee-cup.png");
        background-size: cover;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 350px;
    }
    .box-1 h1{
        font-size: 5vw;
    }

    .box-1 p{
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .title h1{
        font-size: 6vw;
    }
    .title p{
        font-size: 1rem;
    }
    .hero-image-2{
        position: absolute;
        top: 80%;
        left: 50%;
        background:
        url("./images/coffee-cup.png");
        background-size: cover;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 350px;
    }

    .box-1 h1 p{
        font-size: 5vw;
    }

}
