@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.hero-image{
    background:
    linear-gradient(
        rgba(0, 0, 0, 0.356),
        rgba(0, 0, 0, 0.315)
      ),
    url("./images/hero-4.jpg") center no-repeat;
    background-size: cover;
    height: 900px;
    text-align: center;
}

.hero-image-2{
    position: absolute;
    top: 50%;
    left: 80%;
    background : url("./images/cup-6.png") center no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
}


.waves{
    position: absolute;
    top: 75%;
    height: 520px;
    width: 100%;
    background : url("./images/wave.png")no-repeat;
    background-size: cover;
    z-index: 1;
}

.title h1{
    position: absolute;
    color: rgb(250, 247, 241);
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    top: 30%;
    padding: 10px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 5rem;
    left: 9rem;
}

.title p{
    position: absolute;
    color: rgb(236, 218, 117);
    font-family: Arial, Helvetica, sans-serif;
    top: 42%;
    z-index: 2;
    text-transform: uppercase;
    font-size: 25px;
    left: 10rem;
}

.hero-image-2 img{
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 200px;
}

.hero-btn{
    position: absolute;
    top: 50%;
    left: 10rem;
    z-index: 2;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 25px;
    border: 2px solid white;
    background-color: none;
    color: rgb(255, 255, 255);
}

.hero-btn2{
    position: absolute;
    top: 50%;
    left: 22rem;
    font-size: 20px;
    border-radius: 5px;
    z-index: 2;
    padding: 10px 25px;
    border: 2px solid rgb(102, 53, 13);
    background-color: rgb(102, 53, 13);
    color: aliceblue;
}

.hero-btn:hover{
    background-color: rgb(248, 248, 248);
    color: rgb(70, 36, 9);
}

.hero-btn2:hover{
    background: rgb(231, 152, 4);
    color: rgb(70, 36, 9);
    border: 2px solid rgb(231, 152, 4);
}


@media only screen and (max-width: 1150px) {
    .title h1{
        font-size: 5vw;
    }
    .title p{
        font-size: 2vw;
    }
    .waves{
        position: absolute;
        top: 86%;
        height: 520px;
        width: 100%;
        background : url("./images/wave.png")no-repeat;
        background-size: cover;
        z-index: 1;
    }
}

@media only screen and (max-width: 800px) {
    .title h1{
        font-size: 2rem;
    }
    .title p{
        font-size: 1rem;
    }

    .hero-image-2{
        position: absolute;
        top: 50%;
        background : url("./images/cup-6.png") no-repeat;
        background-size: cover;
        height: 400px;
        width: 400px;
    }

    .box-1 h1{
        font-size: 5vw;
    }

    .box-1 p{
        font-size: 18px;
    }
    .waves{
        position: absolute;
        top: 86%;
        height: 520px;
        width: 100%;
        background : url("./images/wave.png")no-repeat;
        background-size: cover;
        z-index: 1;
    }
}

@media only screen and (max-width: 600px) {
    .title h1{
        width: 90%;
        font-size: 7vw;
    }
    .title p{
        font-size: 1rem;
    }
    .hero-image-2{
        position: absolute;
        top: 80%;
        left: 50%;
        background:
        url("./images/coffee-cup.png");
        background-size: cover;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 350px;
    }

    .box-1 h1 p{
        font-size: 5vw;
    }
    .hero-image-2{
        position: absolute;
        top: 70%;
        left: 50%;
        background : url("./images/coffee-cup.png") center no-repeat;
        background-size: cover;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 300px;
    
    }

}
