#form{
    position: relative;
    background: burlywood;
    height: 300px;
    width: 100%;
}

input[type="text"]{
    display: flex;
    position: relative;
    justify-content: center;
    width: 30rem;
    margin: auto;
    top: 68px;
    padding: 12px;
    border: none;
    background: #fffdfd;
}

input[type="text"]:focus{
    outline: none !important;
    border-color: #a85a10;
    box-shadow: 2px 2px 20px #a85a10;
}

.form-button[type=submit]{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 20px;
    left: 17rem;
    padding: 12px;
    border: none;
    color: rgb(255, 254, 249);
    background: #2c1805;
}

.email-text{
    position: relative;
    top: 15px;
    font-size: 30px;
    color: rgb(22, 9, 9);
}

@media only screen and (max-width: 800px) {
    input[type="text"]{
        width: 55%;
    }

}
