#about{
    height: 600px;
}

.about-img{
    position: relative;
    background: url('./images/about-img.png') center no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;
}

.about-title{
    position: relative;
    font-size: 45px;
    font-family: 'Acme', sans-serif;
    color: #6b3123;
}

.about-paragraph{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.content{
    padding: 50px;
    margin-top: 1rem;
}

.wrapper{
    width: 100%;
    margin-top: 15rem;
}

@media only screen and (max-width: 1000px) {
    #about{
        height: 100%;
    }
    
}

@media only screen and (max-width: 800px) {
    .about-img {
        width: 100%;
        height: 400px;
        background-size: contain;
    }

    .wrapper{
        width: 100%;
        margin-top: 5rem;
    }

    .about-title{
        position: relative;
        font-size: 35px;
        font-family: 'Acme', sans-serif;
        color: #6b3123;
    }

    .about-paragraph{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
    }
}

@media only screen and (max-width: 500px) {
    .about-img{
        width: 100%;
        height: 300px;
        background-size: contain;
    }

    .wrapper{
        width: 100%;
        margin-top: 5rem;
    }

    .about-title{
        position: relative;
        font-size: 25px;
        font-family: 'Acme', sans-serif;
        color: #6b3123;
    }

    .about-paragraph{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
    }

    .content{
        padding: 20px;
        margin-top: 1rem;
    }
}


@media only screen and (max-width: 400px) {
    .about-title{
        position: relative;
        font-size: 25px;
        font-family: 'Acme', sans-serif;
        color: #6b3123;
    }

    .content{
        padding: 20px;
        margin-top: 0;
    }

    .about-paragraph{
        font-size: 16px;
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
    }
}
